Regras do # node:
## Armazenamento intermediário do Grunt (http://gruntjs.com/creating-plugins#storing-task-files)
.grunhido

## Diretório de dependência
## Comente isso é preferido por algumas pessoas, veja
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components

# Ignore o banco de dados SQLite padrão.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore todos os arquivos de log e tempfiles.
/registro/*
/ tmp / *
/ node_modules
/yarn-error.log

.byebug_history

# Ignore o costume
.vscode
