<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- META INFO -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="76x76" href=""> -->
    <!-- <link rel="icon" type="image/png" href=""> -->
    <!-- Favicon -->

    <!-- Fonts and icons -->
    <!-- <link rel="stylesheet" type="text/css" href="" /> -->
    <!-- Fonts and icons -->

    <!-- CSS Files -->
    <!-- <link rel="stylesheet" type="text/css" href="" /> -->
    <!-- CSS Files -->

    <title>Name</title>
</head>

<body>
    <h1>All right dev!</h1>
</body>
<script type="text/javaScript" src="./assets/js/main.js"></script>

</html>