<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Icons -->
        <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
        <link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

        <!-- CSS -->
        <link type="text/css" href="./assets/css/core.min.css" rel="stylesheet">
        <link type="text/css" href="./assets/css/main.min.css" rel="stylesheet">

        <!-- PHP -->
        <!-- <?php
            // include("./assets/php/config.php"); 
            ?> -->

        <title>Koper - Painel</title>
    </head>

    <body>
        <!-- //    <?php
                //    $connect = mysqli_connect($host, $user, $pass, $base);
                //    $sql     = mysqli_query($connect, "SELECT * FROM takeoff1_test.enterprises");
                //    $pull    = mysqli_fetch_array($sql);

                ?> -->

        <!-- Core -->
        <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="./assets/js/core.min.js"></script>

        <!-- JS -->
        <script src="./assets/js/main.min.js"></script>
    </body>

</html>
