<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <!-- Icons -->
        <link href="./assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
        <link href="./assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

        <!-- CSS -->
        <link type="text/css" href="./assets/css/core.min.css" rel="stylesheet">
        <link type="text/css" href="./assets/css/main.min.css" rel="stylesheet">

        <title>Koper - Painel</title>
    </head>

    <body>

        <!-- MAIN -->
        <div class="main-content">

            <!-- NAV -->
            <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="assets/img/brand/logo.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-default">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <a href="#">
                                        <img src="assets/img/brand/logo.png">
                                    </a>
                                </div>
                                <div class="col-6 collapse-close">
                                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                                        aria-label="Toggle navigation">
                                        <span></span>
                                        <span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-link-icon" href="catalog.html"><span class="nav-link-inner--text">Catalogo</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-icon" href="business.html"><span class="nav-link-inner--text">Comercial</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-icon" href="clients.html"><span class="nav-link-inner--text">Clientes</span></a>
                            </li>
                            <li class="nav-item  active">
                                <a class="nav-link nav-link-icon" href="#"><i class="fas fa-home"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- NAV -->

            <!-- HEADER -->
            <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
                <div class="container align-items-center">
                    <div class="header-body">
                        <div class="row align-items-center">
                            <div class="col-xl-10">
                                <div class="nav-wrapper">
                                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0 active" id="enterprise-tab" data-toggle="tab" href="#enterprise" role="tab" aria-controls="enterprise"
                                                aria-selected="true">Empreendimentos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0" id="block-tab" data-toggle="tab" href="#block" role="tab" aria-controls="block" aria-selected="false">Blocos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0" id="storey-tab" data-toggle="tab" href="#storey" role="tab" aria-controls="storey" aria-selected="false">Andares</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link mb-sm-3 mb-md-0" id="unit-tab" data-toggle="tab" href="#unit" role="tab" aria-controls="unit" aria-selected="false">Unidades</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HEADER -->

            <!-- CONTENT -->
            <div class="container mt--7">
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="tab-content">

                                <!-- SECTION ENTERPRISES -->
                                <div class="tab-pane fade show active" id="enterprise" role="tabpanel" aria-labelledby="enterprise-tab">
                                    <div class="card shadow">
                                        <div class="card-top">
                                            <div class="card-header border-0">
                                                <h3 class="mb-0">Lista de empreendimentos</h3>
                                            </div>
                                            <button class="icon icon-shape text-white rounded-circle shadow" data-toggle="modal" data-target="#modal-enterprise">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Inicio</th>
                                                        <th>Conclusão</th>
                                                        <th>Tipo</th>
                                                        <th>Área</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Loft beira mar</td>
                                                        <td>01/01/2019</td>
                                                        <td>31/12/2019</td>
                                                        <td>Residencial</td>
                                                        <td>120 m²</td>
                                                        <td class="table-actions">
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Editar"><i class="far fa-edit"></i></a>
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Apagar"><i class="fas fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- SECTION ENTERPRISES -->

                                <!-- SECTION BLOCK -->
                                <div class="tab-pane fade" id="block" role="tabpanel" aria-labelledby="block-tab">
                                    <div class="card shadow">
                                        <div class="card-top">
                                            <div class="card-header border-0">
                                                <h3 class="mb-0">Lista de Blocos</h3>
                                            </div>
                                            <button class="icon icon-shape text-white rounded-circle shadow" data-toggle="modal" data-target="#modal-block">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Alabama</td>
                                                        <td class="table-actions">
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Editar"><i class="far fa-edit"></i></a>
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Apagar"><i class="fas fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- SECTION BLOCK -->

                                <!-- SECTION STOREY -->
                                <div class="tab-pane fade" id="storey" role="tabpanel" aria-labelledby="storey-tab">
                                    <div class="card shadow">
                                        <div class="card-top">
                                            <div class="card-header border-0">
                                                <h3 class="mb-0">Lista de Andares</h3>
                                            </div>
                                            <button class="icon icon-shape text-white rounded-circle shadow" data-toggle="modal" data-target="#modal-storey">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Posição</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Terreo</td>
                                                        <td>3</td>
                                                        <td class="table-actions">
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Editar"><i class="far fa-edit"></i></a>
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Apagar"><i class="fas fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- SECTION STOREY -->

                                <!-- SECTION UNIT -->
                                <div class="tab-pane fade" id="unit" role="tabpanel" aria-labelledby="unit-tab">
                                    <div class="card shadow">
                                        <div class="card-top">
                                            <div class="card-header border-0">
                                                <h3 class="mb-0">Lista de Unidade</h3>
                                            </div>
                                            <button class="icon icon-shape text-white rounded-circle shadow" data-toggle="modal" data-target="#modal-unit">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-flush">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>Status</th>
                                                        <th>Área privativa</th>
                                                        <th>Área Comum</th>
                                                        <th>Vendável</th>
                                                        <th>Valor</th>
                                                        <th>Valor mínimo</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Alabama</td>
                                                        <td>Disponível</td>
                                                        <td>93 m²</td>
                                                        <td>150 m²</td>
                                                        <td>Medium</td>
                                                        <td>R$ 1.500.000,00</td>
                                                        <td>R$ 900.000,00</td>
                                                        <td class="table-actions">
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Editar"><i class="far fa-edit"></i></a>
                                                            <a href="#!" class="nav-link nav-link-icon" data-toggle="tooltip" data-original-title="Apagar"><i class="fas fa-trash"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- SECTION UNIT -->

                                <!-- MODALS -->

                                <!-- ENTERPRISE -->
                                <div class="modal fade" id="modal-enterprise" tabindex="-1" role="dialog" aria-labelledby="modal-enterprise" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title">Cadastrar</h1>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row align-items-center">
                                                    <div class="col-10">
                                                        <div class="nav-wrapper align-items-center">
                                                            <span>É possível adicionar <b>blocos</b> e <b>unidades</b> neste empreendimento</span>
                                                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0 active" data-option="enterprise" data-toggle="tab" href="#"
                                                                        role="tab" aria-selected="true">Empreendimento</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0" data-option="block" data-toggle="tab" href="#" role="tab">Bloco</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0" data-option="unit" data-toggle="tab" href="#" role="tab">Unidade</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form class="form-enterprise">
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="nome-empreendimento" class="form-control-label">Nome</label>
                                                            <input class="form-control" type="text" id="nome-empreendimento">
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="tipo" class="form-control-label">Tipo</label>
                                                            <select class="form-control" type="text" id="tipo">
                                                                <option selected>Residencial</option>
                                                                <option>Comercial</option>
                                                                <option>Loteamento</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="endereco" class="form-control-label">Endereço</label>
                                                            <input class="form-control" type="text" id="endereco">
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="area-total" class="form-control-label">Área Total</label>
                                                            <div class="input-group">
                                                                <input class="form-control" type="tel" maxlength="4" id="area-total">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">m²</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row input-daterange datepicker">
                                                        <div class="col form-group">
                                                            <label for="inicio" class="form-control-label">Data de início</label>
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="Inicio" type="text" value="06/18/2019" id="inicio">
                                                            </div>
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="conclusao" class="form-control-label">Data de conclusão</label>
                                                            <div class="input-group">
                                                                <input class="form-control" placeholder="Conclusão" type="text" value="06/22/2019" id="conclusao">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary ml-auto">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ENTERPRISE -->

                                <!-- BLOCKS -->
                                <div class="modal fade" id="modal-block" tabindex="-1" role="dialog" aria-labelledby="modal-block" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title">Cadastrar</h1>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row align-items-center">
                                                    <div class="col-10">
                                                        <div class="nav-wrapper align-items-center">
                                                            <span>É possível adicionar <b>Andares</b> e <b>Unidades</b> neste bloco</span>
                                                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0 active" data-option="block" data-toggle="tab" href="#" role="tab"
                                                                        aria-selected="true">Bloco</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0" data-option="storey" data-toggle="tab" href="#"
                                                                        role="tab">Andares</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0" data-option="unit" data-toggle="tab" href="#" role="tab">Unidade</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form class="form-block">
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="nome-bloco" class="form-control-label">Nome</label>
                                                            <input class="form-control" type="text" id="nome-bloco">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary ml-auto">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- BLOCKS -->

                                <!-- STOREY -->
                                <div class="modal fade" id="modal-storey" tabindex="-1" role="dialog" aria-labelledby="modal-storey" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title">Cadastrar</h1>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row align-items-center">
                                                    <div class="col-10">
                                                        <div class="nav-wrapper align-items-center">
                                                            <span>É possível adicionar <b>Unidades</b> neste Andar</span>
                                                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" role="tablist">
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0 active" data-option="storey" data-toggle="tab" href="#" role="tab"
                                                                        aria-selected="true">Andares</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a onclick="navRegister(this)" class="nav-link mb-sm-3 mb-md-0" data-option="unit" data-toggle="tab" href="#" role="tab">Unidade</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form class="form-storey">
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="nome-andar" class="form-control-label">Nome</label>
                                                            <input class="form-control" type="text" id="nome-andar">
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="nome-bloco" class="form-control-label">Posição</label>
                                                            <select class="form-control" type="text" id="nome-bloco">
                                                                <option selected>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                <option>5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary ml-auto">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- STOREY -->

                                <!-- UNITS -->
                                <div class="modal fade" id="modal-unit" tabindex="-1" role="dialog" aria-labelledby="modal-unit" aria-hidden="true">
                                    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title">Cadastrar</h1>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-unit">
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="nome-unidade" class="form-control-label">Nome</label>
                                                            <input class="form-control" type="text" id="nome-unidade">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="status" class="form-control-label">Status</label>
                                                            <select class="form-control" type="text" id="status">
                                                                <option selected>Disponível</option>
                                                                <option>Indispinível</option>
                                                                <option>Reservada</option>
                                                                <option>Vendida</option>
                                                            </select>
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="vendavel" class="form-control-label">Vendável</label>
                                                            <select class="form-control" type="text" id="vendavel">
                                                                <option>Difícil</option>
                                                                <option>Facil</option>
                                                                <option selected>Normal</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="area-privativa" class="form-control-label">Área privativa</label>
                                                            <div class="input-group">
                                                                <input class="form-control" type="tel" maxlength="4" id="area-privativa">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">m²</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="area-comum" class="form-control-label">Área comum</label>
                                                            <div class="input-group">
                                                                <input class="form-control" type="tel" maxlength="4" id="area-comum">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">m²</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col form-group">
                                                            <label for="valor" class="form-control-label">Valor</label>
                                                            <div class="input-group ">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">R$</span>
                                                                </div>
                                                                <input class="form-control" type="tel" maxlength="8" id="valor">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">,00</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col form-group">
                                                            <label for="valor-minimo" class="form-control-label">Valor</label>
                                                            <div class="input-group ">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text">R$</span>
                                                                </div>
                                                                <input class="form-control" type="tel" maxlength="8" id="valor-minimo">
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text">,00</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary ml-auto">Cadastrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- UNITS -->

                                <!-- MODALS -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- CONTENT -->
        </div>

        <!-- Core -->
        <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
        <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="./assets/js/core.min.js"></script>

        <!-- JS -->
        <script src="./assets/js/main.min.js"></script>
    </body>

</html>
